<div class="container">
<div class="navbar navbar-fixed-bottom" style="background-color:#000; margin:0px;">
<div style="float:right; padding:15px;">

<a href="http://pagerank.chromefans.org" target=_blank title="Online PageRank Checker, PageRank Checker for Chrome"><img src="http://pr.chromefans.org/?u=0185de996e389a70c92b0c8c1c305868&amp;style=1" ALT="PageRank Checker" STYLE="border:0px"></A>


<!-- BEGIN: Powered by Supercounters.com -->
<center><script type="text/javascript" src="http://widget.supercounters.com/hit.js"></script><script type="text/javascript">sc_hit(842877,25,9);</script><br><noscript><a href="http://www.supercounters.com">Tumblr Hit Counter</a></noscript>
</center>
<!-- END: Powered by Supercounters.com -->
</div>	
	

<div id="style-footer"  class="span8">
<p style="padding-top:10px;">
  <a href="http://www.koresol.com" target="_blank"><%= t('.copyright', :year => Time.now.year,
                      :site_name => Refinery::Core.site_name) %></a>
</p>

</div>
</div>
</div>
